@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation for left to right */
/* animation for left to right */
.animation-left {
  animation: marquee-left 20s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* animation for right to left */
.animation-right {
  animation: marquee-right 20s linear infinite;
}

@keyframes marquee-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
